body {
  background-color: #fff;
}

.page-heading {
  margin: 150px 0 50px 0px;
  color: #cf9312;
  font-weight: normal;
}

.amenities-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 2rem;
  /* background-color: #eee; */
  background-color: rgba(238, 238, 238, 0.6);
  padding: 50px;
}

.card-text {
  color: rgb(207, 147, 18);
}

.card {
  overflow: hidden;
  border-radius: 0px !important;
  box-shadow: rgba(207, 147, 18, 0.4) 0px 1px;
  border-top: 1px solid rgba(207, 147, 18, 0.3);
  width: 100%;
}
.card-img-top {
  transition: all 0.5s;
  cursor: pointer;
}

.card-img-top:hover {
  transform: scale(1.1);
}
.card img {
  width: 100%;
  height: 70%;
}
