* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.map figure {
  margin: 0;
}

.map figure img {
  width: 100%;
}

.map-logo {
  width: 10%;
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -200%);
}

.page-heading {
  margin: 150px 0 50px 0px;
  color: #cf9312;
  font-weight: normal;
}

#ifframe {
  width: 100% !important;
  height: 100vh !important;
}

.maps-container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  height: 100vh;
  position: relative;
}

@media (min-width: 993px) {
  .maps-container .map-logo {
    transform: translate(-50%, -100%);
  }
}
