body {
  background-color: #fff;
}
.page-heading {
  margin: 150px 0 50px 0px;
  color: #cf9312;
  font-weight: normal;
}

.col-md-4 img {
  object-fit: cover;
  aspect-ratio: 1/0.7;
}

.col-md-4 {
  margin: 30px 0 !important;
  text-align: center;
}

.col-md-4 h5 {
  margin-top: 10px;
}
