body {
  background-color: #fff;
}

.types-container img {
  width: 100%;
}

.types-container .col-md-6 {
  border: 1px solid #ccc;
  padding: 1.5rem;
}
.page-heading {
  margin: 150px 0 50px 0px;
  color: #cf9312;
  font-weight: normal;
}

@media (min-width: 992px) {
  .types-container .col-md-6 {
    padding: 4rem;
  }
}
